In [ ]:
# Import numpy & pandas libraries

In [1]:
import pandas as pd
import numpy as np

In [2]:
# read Salaries.csv file

In [4]:
sal = pd.read_csv('C:\\Users\DILIP KUMAR\Downloads\Salaries.csv',low_memory=False)

In [5]:
sal.head()

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

In [8]:
# Find minimum value of BasePay column

In [6]:
sal.BasePay.min()

-166.00999999999999

In [14]:
# Find maximum value of BasePay column

In [7]:
sal.BasePay.max()

319275.01000000001

In [17]:
# Find all the details of employee where sal is 319275.01

In [8]:
sal[sal.BasePay==319275.01]

,Unnamed: 0,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
72925,72925,72926,Gregory P Suhr,Chief of Police,319275.01,0.0,20007.06,86533.21,339282.07,425815.28,2013,NaN,San Francisco,NaN

In [9]:
# Find mean BasePay

In [10]:
sal.BasePay.mean()

66325.44884050643

In [ ]:
# Find the name of employee which has maximum TotalPayBenefits

In [26]:
# Find all details of employee which has minimum TotalPayBenefits

In [5]:
# Find the index of row which contains min TotalPaybenefits

148044

In [ ]:
# For each year find the mean BasePay

In [27]:
sal.groupby('BasePay').mean()

,Unnamed: 0,Id,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes
BasePay,,,,,,,,,
-166.01,72832.000000,72833.000000,249.020000,0.000000,6.560000,83.010000,89.570000,2012.000000,NaN
-121.63,72865.000000,72866.000000,182.700000,0.000000,5.440000,61.070000,66.510000,2012.000000,NaN
-109.22,72872.000000,72873.000000,163.830000,0.000000,4.320000,54.610000,58.930000,2012.000000,NaN
-106.60,72874.000000,72875.000000,159.900000,0.000000,4.660000,53.300000,57.960000,2012.000000,NaN
-101.88,72878.000000,72879.000000,153.080000,0.000000,4.550000,51.200000,55.750000,2012.000000,NaN
-93.14,72884.000000,72885.000000,139.970000,0.000000,4.170000,46.830000,51.000000,2012.000000,NaN
-87.38,72888.000000,72889.000000,131.060000,0.000000,3.890000,43.680000,47.570000,2012.000000,NaN
-75.67,72894.000000,72895.000000,113.760000,0.000000,3.390000,38.090000,41.480000,2012.000000,NaN
-59.59,72908.000000,72909.000000,89.650000,0.000000,2.680000,30.060000,32.740000,2012.000000,NaN
-30.58,72920.000000,72921.000000,45.870000,0.000000,1.360000,15.290000,16.650000,2012.000000,NaN
-9.50,72922.000000,72923.000000,14.250000,0.000000,0.420000,4.750000,5.170000,2012.000000,NaN
0.00,82842.394453,82843.394453,169.263066,4496.862589,1223.155851,4666.125655,5463.344337,2012.308166,NaN
6.04,148619.000000,148620.000000,0.000000,10.050000,2.300000,16.090000,18.390000,2014.000000,NaN
14.25,36087.000000,36088.000000,0.000000,56.140000,NaN,70.390000,70.390000,2011.000000,NaN
15.50,148620.000000,148621.000000,0.000000,0.000000,0.160000,15.500000,15.660000,2014.000000,NaN
15.83,110519.000000,110520.000000,0.000000,0.000000,0.160000,15.830000,15.990000,2013.000000,NaN
17.26,148617.000000,148618.000000,0.000000,0.000000,4.040000,17.260000,21.300000,2014.000000,NaN
17.48,36150.000000,36151.000000,0.000000,0.300000,NaN,17.780000,17.780000,2011.000000,NaN
18.81,110513.000000,110514.000000,0.000000,3.760000,3.900000,22.570000,26.470000,2013.000000,NaN
19.97,148613.000000,148614.000000,0.000000,0.000000,4.300000,19.970000,24.270000,2014.000000,NaN
21.22,148610.000000,148611.000000,0.000000,0.000000,4.990000,21.220000,26.210000,2014.000000,NaN
21.48,148616.000000,148617.000000,0.000000,0.860000,0.220000,22.340000,22.560000,2014.000000,NaN
21.76,148608.000000,148609.000000,0.000000,0.000000,7.270000,21.760000,29.030000,2014.000000,NaN
23.08,72918.000000,72919.000000,0.000000,0.000000,0.070000,23.080000,23.150000,2012.000000,NaN
25.00,110514.500000,110515.500000,0.000000,0.000000,0.250000,25.000000,25.250000,2013.000000,NaN
26.34,110512.000000,110513.000000,0.000000,0.000000,0.260000,26.340000,26.600000,2013.000000,NaN
26.38,72912.000000,72913.000000,0.000000,0.000000,2.310000,26.380000,28.690000,2012.000000,NaN
26.94,148609.000000,148610.000000,0.000000,0.000000,0.270000,26.940000,27.210000,2014.000000,NaN
27.28,36142.500000,36143.500000,0.000000,0.000000,NaN,27.280000,27.280000,2011.000000,NaN
27.63,36138.000000,36139.000000,0.000000,0.000000,NaN,27.630000,27.630000,2011.000000,NaN
...,...,...,...,...,...,...,...,...,...
270756.03,72938.000000,72939.000000,0.000000,24181.020000,77474.920000,294937.050000,372411.970000,2013.000000,NaN
271329.03,13.000000,14.000000,0.000000,21342.590000,NaN,292671.620000,292671.620000,2011.000000,NaN
271607.74,36164.000000,36165.000000,0.000000,19782.030000,84681.820000,291389.770000,376071.590000,2012.000000,NaN
271831.50,72953.000000,72954.000000,0.000000,5000.000000,75511.720000,276831.500000,352343.220000,2013.000000,NaN
272855.51,72928.000000,72929.000000,23727.910000,38954.540000,66198.920000,335537.960000,401736.880000,2013.000000,NaN
274126.50,72944.000000,72945.000000,0.000000,13358.100000,75909.100000,287484.600000,363393.700000,2013.000000,NaN
278964.00,72946.250000,72947.250000,0.000000,7772.347500,76467.332500,286736.347500,363203.680000,2013.000000,NaN
279839.22,110549.000000,110550.000000,0.000000,2164.540000,82884.270000,282003.760000,364888.030000,2014.000000,NaN
281537.17,110550.000000,110551.000000,0.000000,0.000000,83277.340000,281537.170000,364814.510000,2014.000000,NaN
282619.96,110547.000000,110548.000000,0.000000,0.000000,82941.180000,282619.960000,365561.140000,2014.000000,NaN
285262.00,9.000000,10.000000,0.000000,17115.730000,NaN,302377.730000,302377.730000,2011.000000,NaN
285446.37,72945.000000,72946.000000,0.000000,0.000000,77105.290000,285446.370000,362551.660000,2013.000000,NaN
286480.44,72935.000000,72936.000000,0.000000,17188.710000,80077.630000,303669.150000,383746.780000,2013.000000,NaN
287747.89,36166.000000,36167.000000,0.000000,5274.570000,81824.370000,293022.460000,374846.830000,2012.000000,NaN
294000.17,36165.000000,36166.000000,0.000000,0.000000,82001.940000,294000.170000,376002.110000,2012.000000,NaN
294000.18,110541.000000,110542.000000,0.000000,0.000000,85918.540000,294000.180000,379918.720000,2014.000000,NaN
294580.02,12.000000,13.000000,0.000000,0.000000,NaN,294580.020000,294580.020000,2011.000000,NaN
296943.01,36162.000000,36163.000000,0.000000,17816.590000,72047.880000,314759.600000,386807.480000,2012.000000,NaN
302068.00,110535.000000,110536.000000,0.000000,24165.440000,91201.660000,326233.440000,417435.100000,2014.000000,NaN
302578.00,36160.000000,36161.000000,0.000000,18974.110000,69810.190000,321552.110000,391362.300000,2012.000000,NaN
305307.89,72933.000000,72934.000000,0.000000,0.000000,80860.600000,305307.890000,386168.490000,2013.000000,NaN
307450.04,110534.000000,110535.000000,0.000000,19266.720000,91302.460000,326716.760000,418019.220000,2014.000000,NaN
310161.02,110538.000000,110539.000000,0.000000,0.000000,88823.510000,310161.020000,398984.530000,2014.000000,NaN
311298.55,110537.000000,110538.000000,0.000000,0.000000,89772.320000,311298.550000,401070.870000,2014.000000,NaN
311758.96,72932.000000,72933.000000,0.000000,1098.640000,82476.850000,312857.600000,395334.450000,2013.000000,NaN
313312.52,72931.000000,72932.000000,0.000000,0.000000,82319.510000,313312.520000,395632.030000,2013.000000,NaN
313686.01,72926.000000,72927.000000,0.000000,23236.000000,85431.390000,336922.010000,422353.400000,2013.000000,NaN
315572.01,72929.000000,72930.000000,0.000000,0.000000,82849.660000,315572.010000,398421.670000,2013.000000,NaN
318835.49,110532.000000,110533.000000,10712.950000,60563.540000,89540.230000,390111.980000,479652.210000,2014.000000,NaN
319275.01,72925.000000,72926.000000,0.000000,20007.060000,86533.210000,339282.070000,425815.280000,2013.000000,NaN

In [ ]:
# Find unique JobTitles

In [23]:
sal['JobTitle'].nunique()

2154

In [13]:
# Find the maximum 5 JobTitle with the number of employees

In [25]:
sal['JobTitle'].value_counts().head(5)

Transit Operator                6975
Special Nurse                   4382
Registered Nurse                3725
Public Svc Aide-Public Works    2514
Police Officer 3                2411
Name: JobTitle, dtype: int64

In [19]:
# Find the no. of Job Title who contains only 1 employee in Year 2013

In [ ]:
# Find the no. of Job Title which contains 'chief' in its Job Title

476

In [ ]:
# Find the correlation between TotalPayBenefits & "length of Job Title" as "title_len"

                  TotalPayBenefits  title_len
TotalPayBenefits          1.000000  -0.036669
title_len                -0.036669   1.000000